body{
    background: cornflowerblue;
}
#one{
    width: 340px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#two{
    width:  340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#AA{
    width: 160px;
    height: 160px;
    padding-bottom: 70px;
    padding-top: 70px;
}
#BB{
    width: 160px;
    height: 160px;
    padding-bottom: 70px;
    padding-top: 70px;
}
#CC{
    padding-top: 30px;
    padding-bottom: 30px;
}