body{
    background: cornflowerblue;
}
#outter{
    display: flex;
}
#inner{
    height: 120px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}